<a href="https://colab.research.google.com/github/jeonghs2015/Python-google-colab/blob/master/re_base.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# 데이터프레임 행, 열 선택 및 필터링 복습
import os
import pandas as pd

In [8]:
os.listdir('./drive/MyDrive/machine_learning/machine_learning_data')

['friend.csv',
 'abalone.data',
 '.ipynb_checkpoints',
 'new_friend.csv',
 'new_friend_index_true.csv']

In [9]:
base_src = "./drive/MyDrive/machine_learning/machine_learning_data"
friend_src = base_src + "/friend.csv"
df = pd.read_csv(friend_src)
df.head()

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager

In [10]:
# index 2번에 해당 row 가져오기
df.iloc[2]

name       Nate
age          30
job     teacher
Name: 2, dtype: object

In [11]:
# column job에 해당되는 데이터 가져오기
df['job']

0      student
1    developer
2      teacher
3      dentist
4      manager
5       intern
Name: job, dtype: object

In [12]:
#column job에 해당되는 데이터 가져오기(2)
df.loc[:,'job']

0      student
1    developer
2      teacher
3      dentist
4      manager
5       intern
Name: job, dtype: object