<a href="https://colab.research.google.com/github/jeonghs2015/Python-google-colab/blob/master/re_base.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 데이터프레임 행, 열 선택 및 필터링 복습
import os
import pandas as pd

In [2]:
os.listdir('./drive/MyDrive/machine_learning/machine_learning_data')

['friend.csv',
 'abalone.data',
 '.ipynb_checkpoints',
 'new_friend.csv',
 'new_friend_index_true.csv']

In [3]:
base_src = "./drive/MyDrive/machine_learning/machine_learning_data"
friend_src = base_src + "/friend.csv"
df = pd.read_csv(friend_src)
df.head()

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager

In [4]:
# index 2번에 해당 row 가져오기
df.iloc[2]

name       Nate
age          30
job     teacher
Name: 2, dtype: object

In [5]:
# column job에 해당되는 데이터 가져오기
df['job']

0      student
1    developer
2      teacher
3      dentist
4      manager
5       intern
Name: job, dtype: object

In [6]:
#column job에 해당되는 데이터 가져오기(2)
df.loc[:,'job']

0      student
1    developer
2      teacher
3      dentist
4      manager
5       intern
Name: job, dtype: object

In [7]:
# 슬라이싱 기능을 통해 여러 행 가져오기
df.iloc[[2,3]] # 슬라이싱 개념을 쓰지 않은 경우

    name  age      job
2   Nate   30  teacher
3  Julia   40  dentist

In [8]:
df.iloc[2:4] # 1~100

    name  age      job
2   Nate   30  teacher
3  Julia   40  dentist

In [9]:
df.iloc[:6] #1~100

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [10]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [11]:
df.values

array([['John', 20, 'student'],
       ['Jenny', 30, 'developer'],
       ['Nate', 30, 'teacher'],
       ['Julia', 40, 'dentist'],
       ['Brian', 45, 'manager'],
       ['Chris', 25, 'intern']], dtype=object)

In [18]:
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern